@import "./global.scss";
@import "./bg.scss";
@import "./glass.scss";
@import "./dropdown.scss";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 15px 2rem;
}

h1 {
  margin: 10px 0;
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  * {
    margin: 0 1rem 0 0;
  }

  div {
    a {
      margin: 0;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bgColor);
}

article {
  overflow-x: hidden;
}
