@import "./global.scss";
@import "./bg.scss";
@import "./glass.scss";
@import "./dropdown.scss";
// @import "../css/java.css";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
  background-color: #145169;
  padding: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    max-width: 45%;
  }
}

ul {
  img {
    max-width: 100%;
    max-height: 200px;
  }
}

nav {
  position: sticky;
  top: 0;
}

article {
  p {
    padding: 0 10px;
  }
}

ul {
  padding: 0 30px;
}

li > b::after {
  content: ":";
}

ul > li {
  list-style-type: "🟦 ";
  margin: 0 0 5px 0;
}

.arrayExample {
  display: flex;
  align-items: center;
  div:last-child {
    display: grid;
    grid-template-columns: repeat(4, 35px);
    text-align: center;
  }
  span {
    border: 1px solid rgb(0, 0, 0);
  }
}

.glassContainer {
  width: 90vw !important;
}
