@import "./global.scss";
@import "./bg.scss";
@import "./glass.scss";
@import "./dropdown.scss";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bgColor);
  padding: 20px;
}

section {
  margin: 0 1rem 1rem 1rem;
}

.finalCharacterImages {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height: 300px;
  }
}

.imageInformative {
  max-height: 300px;
  width: 300px;
  position: relative;
  margin: 1rem;
  img {
    object-fit: cover;
    max-height: 300px;
    width: 100%;
    object-position: center;
  }
  p {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 10px;
    max-height: 75px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.799);
  }
}

.imageInformative:nth-child(even) {
  float: left;
}

.imageInformative:nth-child(odd) {
  float: right;
}

article {
  overflow-x: hidden;
}
