.dropdown {
  position: relative;
  display: inline-block;
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius:10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: hsl(0, 0%, 18%);
      color:white;
    }
    &:first-child{
        border-radius:10px 10px 0 0;
    }

    &:last-child{
        border-radius:0 0 10px 10px;
    }
  }
}
