@import "./letras.scss";

* {
  font-family: WorkSans-Regular, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --bgColor: #145169;
}

.navigate,
.dropbtn {
  text-decoration: none;
  background-color: hsl(0, 0%, 100%);
  width: auto;
  border: none;
  padding: 15px;
  border-radius: 100px;
  cursor: pointer;
  color: black;
  transition: all 0.25s ease-in-out;
  &:hover {
    background-color: hsl(0, 0%, 18%);
    color: white;
  }
}

.navigate {
  text-align: center;
}
