@import "./global.scss";
@import "./bg.scss";
@import "./glass.scss";
@import "./dropdown.scss";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bgColor);
  padding: 20px;
}

img:nth-of-type(1) {
  float: left;
  margin: 1rem;
}

img:nth-of-type(2) {
  float: right;
  margin: 1rem;
}

img:nth-of-type(3) {
  float: right;
  margin: 1rem;
}

section {
  margin: 0 1rem 1rem 1rem;
}
